body {
    background-color: rgb(251, 248, 248);
    margin: 0;
    height: 100%;
}

body div {
    display: flex;
    justify-content: center;
}

.blue-sidebar {
    background-color: skyblue;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.svg {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: Monaco, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin: 10px;
}

p {
    font-size: 30px;
}

.lightblue-back {
    background-color: rgb(192, 225, 236);
    height: 100vh;
    width: 70vw;
}

.svg svg {
    margin-top: 25px;
}

ul {
    list-style-type: none;
    font-family: Monaco, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    line-height: 40px;
}

span {
    display: flex;
    justify-content: start;
    gap: 10px;
}

span svg {
    margin-top: 6px;
}
